body{
    text-align: center;
  }
  #logo{
    width: 498px;
  }
  input , button{
    padding: 4px;
    margin: 8px;
    font-size: 20px;
  }
  
  #fm input::-webkit-input-placeholder{
    color: rgb(184, 190, 189);
    opacity: 1;
  }
  #result{
    border: 1px solid #d8d8d8;
    background: #f8f8f8;
    padding: 10px;
    color: red;
    font-size: 20px;
  }
  